.settle-up-modal {
    border: 1px solid #cccccc;
    border-radius: 10px;
    box-shadow: 0 0 3px 0 rgba(55, 59, 63, 0.25);
    padding: 100px;
    font-family: 'Lato', sans-serif;
    color: #373b3f;
    outline: none;
}

.settle-up-info {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#paid {
    text-align: center;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.settle-up-user-list {
    border: 1px solid #48be9db6;
    border-radius: 5px;
    font-size: 13px;
    line-height: 1.4em;
    text-align: center;
    padding: 10px;
}

.settle-up-friends-li:hover {
    cursor: pointer;
}

#select-a-friend {
    color: #999999;
    margin-bottom: 5px;
    font-size: 12px;
}

.settle-up-submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 0 0 rgba(55, 59, 63, 0.25);
    font-size: 11px;
    font-weight: 40;
    text-decoration: none;
    background-color: #FD5215;
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 11px;
    padding-right: 11px;
}

.settle-up-submit:hover {
    cursor: pointer;
    box-shadow: none;
    position: relative;
    top: 1px;
}

#record-a-payment {
    /* border: 1px solid red; */
    margin-bottom: 15px;
    font-size: 14px;
    color: #999999;
    text-align: center;
    letter-spacing: 0.4px;
}